// null default styles
@import "null";

// load fonts
@import "fonts";

// load mixins
@import "mixins";

// load swiper
@import "../../node_modules/swiper/swiper";

// load common
@import "common";

.header {
    @media (min-width: 1921px) {
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 1920px;
    }

    @media (max-width: 1920px) {
        left: 0;
    }

    position: fixed;
    width: 100%;

    top: 0;
    display: block;
    z-index: 2;
    background-color: rgba($color: #fff, $alpha: 0.75);
    padding: 22px 0;

    @media (max-width: 768px) {
        padding: 11px 0;
    }

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__left

    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;

        span {
            @include adaptive-value("font-size", 14, 10, 1);
        }
    }

    // .header__logo

    &__logo {
        @include adaptive-value("height", 42, 28, 1);

        img,
        svg {
            height: 100%;
            transform: translate(50%, 0);
        }
    }

    // .header__menu

    &__menu {
        // .header__menu-buttons

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                transition: all 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 12, 10, 1);
                line-height: 1.2;
                @include adaptive-value("margin-right", 43, 30, 1);
                color: #131313;
            }
        }

        // .header__menu-open

        &-open {
            cursor: pointer;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.5);
                }
            }
        }

        // .header__menu-close

        &-close {
            cursor: pointer;
            position: absolute;
            z-index: 12;
            left: 50%;
            bottom: 10%;
            transform: translate(-50%, 0);
            transition: all 0.3s ease 0s;

            @include adaptive-value("width", 37, 21, 1);
            @include adaptive-value("height", 37, 21, 1);

            @media (any-hover: hover) {
                &:hover {
                    transform: translate(-50%, 0) scale(1.5);
                }
            }
        }

        // .header__menu-body

        &-body {
            position: absolute;
            left: 0;
            top: -22px;
            width: 100%;
            height: 100vh;
            z-index: 6;
            background: rgba(59, 64, 57, 0.9);
            backdrop-filter: blur(50px);
            transition: all 0.7s ease 0s;

            opacity: 0;
            visibility: hidden;
            z-index: -5;
            left: 400%;

            &._active {
                opacity: 1;
                visibility: visible;
                left: 0%;
                z-index: 10;
            }

            nav {
                height: 100%;

                ul {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    & > :not(:last-child) {
                        @include adaptive-value("margin-bottom", 45, 25, 1);
                    }

                    li {
                        a {
                            transition: all 0.3s ease 0s;
                            font-family: "Mont";
                            font-style: normal;
                            font-weight: 300;
                            @include adaptive-value("font-size", 48, 27, 1);
                            line-height: 120%;
                            text-align: center;
                            color: #ffffff;
                            display: block;

                            @media (any-hover: hover) {
                                opacity: 0.4;

                                &:hover {
                                    opacity: 1;
                                }
                            }

                            @media (max-width: 600px) and (max-height: 600px) {
                                font-size: 24px !important;
                            }
                        }
                    }
                }
            }
        }

        // .header__menu-img

        &-img {
            height: 100%;
            width: 95%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: 5%;
            pointer-events: none;

            @media (max-width: 992px) {
                display: none;
            }

            img {
                position: absolute;
                width: 275px;
                height: 384px;
                border-radius: 30px 30px 0px 0px;
            }

            & > :nth-child(1) {
                top: 0;
                left: 10%;
            }
            & > :nth-child(2) {
                top: 0;
                right: 0;
            }
            & > :nth-child(3) {
                bottom: 5%;
                left: 0;
            }
            & > :nth-child(4) {
                z-index: 2;
                bottom: 20%;
                right: 10%;

                @media (max-width: 1440px) {
                    right: 5%;
                }
            }
        }
    }
}

.home {
    padding-top: 84px;
    max-height: 1080px;
    height: 100%;
    @include adaptive-value("padding-left", 40, 20, 1);
    @include adaptive-value("padding-right", 40, 20, 1);

    // .home__top

    &__top {
        position: relative;
        margin-bottom: 35px;

        img {
            display: block;
            width: 100%;
            min-height: 40vh;
            max-height: 40vh;
            height: 40vh;
            background: #d9d9d9;
            border-radius: 50px 50px 0px 0px;
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            line-height: 180%;
            @include adaptive-value("font-size", 184, 106, 1);

            @media (max-width: 360px) {
                font-size: 27vw;
            }
        }
    }

    // .home__bottom

    &__bottom {
        @include adaptive-value("margin-bottom", 89, 0, 1);

        h2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 300;
            text-align: right;
            color: #131313;
            margin-bottom: 60px;
            @include adaptive-value("margin-bottom", 60, 30, 1);

            & > :nth-child(1) {
                font-weight: 200;
                line-height: 122%;
                @include adaptive-value("font-size", 48, 16, 1);
            }

            & > :nth-child(2) {
                align-self: end;
                text-transform: uppercase;
                font-size: 6vh;
                line-height: 118%;

                @media (max-width: 768px) {
                    text-align: center;
                    font-size: 28px;
                    margin: 8px 0;
                    align-items: flex-start;
                }

                @media (max-width: 360px) {
                    font-size: 7vw;
                }
            }

            & > :nth-child(3) {
                font-weight: 200;
                text-align: right;
                margin-left: 20%;
                line-height: 100%;
                @include adaptive-value("font-size", 29, 16, 1);
                align-self: flex-end;
            }
        }
    }
}

.consulting {
    @include adaptive-value("padding-left", 40, 20, 1);
    @include adaptive-value("padding-right", 40, 20, 1);

    // .consulting__columns

    &__columns {
        display: grid;
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        grid-template-rows: repeat(2, 410px);
        column-gap: 20px;

        @media (max-width: 992px) {
            grid-template-rows: repeat(2, minmax(299px, 480px));
            grid-template-rows: repeat(2, 482px);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        li {
            background: #d7d9d6;
            box-shadow: 8px 8px 28px -1px rgba(0, 0, 0, 0.1);
            border-radius: 30px 30px 0px 0px;
            @include adaptive-value("padding-top", 50, 31, 1);
            @include adaptive-value("padding-bottom", 50, 31, 1);
            @include adaptive-value("padding-left", 50, 36, 1);
            @include adaptive-value("padding-right", 50, 36, 1);

            transition: all 0.3s ease 0s;
            position: relative;

            @media (any-hover: hover) {
                &:hover {
                    cursor: pointer;
                    background: #ffffff;
                    z-index: 3;
                }
            }

            @media (max-width: 800px) {
                background: #ffffff;
            }

            label {
                display: inline-block;
                margin-bottom: 23px;
                @include adaptive-value("margin-bottom", 23, 13, 1);
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 48, 24, 1);
                line-height: 130%;
                color: #131313;
            }

            p {
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 23, 12, 1);
                line-height: 110%;
                color: #131313;
            }
        }

        & > :nth-child(1) {
            background: #ffffff;
        }
        & > :nth-child(4),
        & > :nth-child(3) {
            top: -3px;
            z-index: 2;
        }
    }
}

.consult-height {
    height: auto;
    max-height: unset;
    padding-bottom: 50px;
}

.delivery {
    @include adaptive-value("padding-left", 40, 20, 1);
    @include adaptive-value("padding-right", 40, 20, 1);
    height: auto;
    max-height: unset;
    @include adaptive-value("padding-bottom", 100, 0, 1);

    @media (max-width: 425px) {
        padding-bottom: 50px !important;
    }

    // .delivery__top

    &__top {
        h2 {
            font-style: normal;
            font-weight: 300;
            text-align: left;
            text-transform: uppercase;
            color: #131313;
            @include adaptive-value("font-size", 184, 52, 1);
            line-height: 150%;
        }
    }

    // .delivery__bottom

    &__bottom {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }

        // .delivery__bottom-text

        &-text {
            @include adaptive-value("margin-right", 170, 0, 1);

            @media (max-width: 992px) {
                margin-bottom: 50px;
                margin-right: 0;
            }

            label {
                @include adaptive-value("margin-bottom", 73, 31, 1);
                @include adaptive-value("font-size", 48, 20, 1);
                font-style: normal;
                font-weight: 300;
                line-height: 120%;
                color: #131313;
                display: block;
                @media (max-width: 800px) {
                    font-weight: 400;
                }
            }

            p {
                max-width: 696px;
                width: 100%;
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 20, 12, 1);
                line-height: 120%;
                color: #131313;

                @media (max-width: 992px) {
                    max-width: 100%;
                }
            }
        }

        // .delivery__bottom-images

        &-images {
            position: relative;
            max-width: 1065px;
            width: 100%;
            height: 389px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 1440px) {
                max-width: 665px;
            }

            @media (max-width: 992px) {
                max-width: 100%;
                @include adaptive-value("height", 872, 228, 1);
            }

            @media (max-width: 768px) {
                max-width: 100%;
                @include adaptive-value("height", 300, 400, 1);
            }

            @media (max-width: 500px) {
                height: 230px !important;
            }

            img {
                position: absolute;

                @media (max-width: 992px) {
                    border-radius: 15px 15px 0 0;
                }

                border-radius: 30px 30px 0 0;
            }

            & > :nth-child(1) {
                left: 0;
                @include adaptive-value("top", 100, 130, 1);
                @include adaptive-value("height", 200, 75, 1);

                @media (max-width: 992px) {
                    top: 0 !important;
                    width: 247px;
                    height: 155px !important;
                }

                @media (max-width: 500px) {
                    width: 119px;
                    height: 69px !important;
                }
            }

            & > :nth-child(2) {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                @include adaptive-value("height", 389, 154, 1);
                align-self: center;
                align-items: center;

                @media (max-width: 1440px) {
                    @include adaptive-value("height", 309, 154, 1);
                }

                @media (max-width: 992px) {
                    position: absolute;
                    width: 513px;
                    height: 312px !important;
                }

                @media (max-width: 768px) {
                    width: 380px;
                    height: 254px !important;
                }

                @media (max-width: 500px) {
                    width: 245px;
                    height: 153px !important;
                }
            }

            & > :nth-child(3) {
                right: 0;
                bottom: 30px;
                @include adaptive-value("height", 200, 80, 1);

                @media (max-width: 992px) {
                    bottom: 0;
                    right: 0;
                    width: 247px;
                    height: 155px !important;
                }

                @media (max-width: 500px) {
                    width: 119px;
                    height: 69px !important;
                }
            }
        }
    }
}

.installation {
    height: 100%;
    @include adaptive-value("padding-bottom", 100, 50, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 800px) {
        display: block;
    }
    // .installation__left

    &__left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > :nth-child(n + 5) {
            div {
                img {
                    transform: translate(0, -100%);
                    top: -30px;
                    border-radius: 30px 30px 0px 0px;

                    @media (max-width: 800px) {
                        transform: translate(0, 0);
                        top: 0;
                    }
                }

                @media (max-width: 800px) {
                    bottom: 105%;
                    top: unset;
                }
            }
        }

        li {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all 0.3s ease 0s;
            @include adaptive-value("padding-left", 40, 20, 1);
            @include adaptive-value("padding-right", 40, 20, 1);
            max-height: 119px;
            min-height: 24px;
            @include adaptive-value("padding-top", 50, 25, 1);
            @include adaptive-value("padding-bottom", 50, 25, 1);

            @media (max-width: 800px) {
                position: relative;
            }

            &._active {
                padding-top: 22px;
                padding-bottom: 22px;
                background: #7d837b;
                position: relative;

                label {
                    color: #ffffff;
                    opacity: 1;
                }

                p,
                .whatsapp {
                    opacity: 1;
                    visibility: visible;
                    a {
                        position: relative;
                        z-index: 5;
                    }
                }

                div {
                    z-index: 4;

                    @media (min-width: 800px) {
                        position: relative;
                    }

                    img {
                        max-height: fit-content;
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                        left: 0;
                    }
                }
            }

            label {
                width: 550px;
                font-style: normal;
                font-weight: 300;
                color: #ffffff;
                white-space: nowrap;
                line-height: 13%;
                @include adaptive-value("font-size", 45, 20, 1);
                pointer-events: none;
                position: relative;
                z-index: 2;
            }

            div {
                margin: 0 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                z-index: -5;
                right: 0;

                @media (max-width: 800px) {
                    position: absolute;
                    top: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    height: fit-content;
                    right: 0;
                    margin: 0 20px 0 0;

                    @include adaptive-value("width", 600, 200, 1);
                    padding-bottom: 20px;

                    &:after {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 70%;
                        background: #525850;
                    }
                }

                img {
                    position: absolute;
                    top: 90px;
                    left: 10%;
                    z-index: 1;
                    border-radius: 0px 0px 30px 30px;
                    max-height: 0;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;

                    @media (min-width: 801px) {
                        @include adaptive-value("width", 600, 200, 1);
                    }

                    @media (max-width: 800px) {
                        width: 100%;
                        position: relative;
                        transform: translate(0, 0);
                        top: 0;
                        right: 40px;
                        left: 0;
                    }
                }

                p {
                    display: flex;
                    font-style: normal;
                    font-weight: 400;
                    color: #ffffff;
                    max-width: 755px;
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease 0s;
                    line-height: 100%;
                    @include adaptive-value("font-size", 16, 10, 1);
                    position: relative;
                    margin-right: 15px;
                    z-index: 1;

                    @media (max-width: 800px) {
                        margin: 15px 0;
                        margin-right: 0px;
                        margin-left: 0;
                        padding-inline: 20px;
                    }
                }

                .whatsapp {
                    transition: all 0.3s ease 0s;
                    opacity: 0;
                    visibility: hidden;
                    margin: 0;
                    z-index: 1;

                    @media (max-width: 800px) {
                        display: block;
                        margin-inline: auto;
                    }
                }
            }
        }
    }

    // .installation__right

    &__right {
        max-width: 755px;
        width: 100%;
        height: 539px;
        position: relative;
        @include adaptive-value("margin-right", 150, 0, 1);
        display: none;

        &._none {
            display: none;
        }

        img {
            position: absolute;
            border-radius: 30px 30px 0 0;
            @include adaptive-value("width", 347, 100, 1);
            @include adaptive-value("height", 219, 100, 1);
        }

        & > :nth-child(1) {
            left: 0;
            top: 5%;
        }
        & > :nth-child(2) {
            right: 0;
            top: 0;
            z-index: 3;
        }
        & > :nth-child(3) {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
        & > :nth-child(4) {
            left: 10%;
            bottom: 0;
            z-index: 3;
        }

        @media (max-width: 1024px) {
            display: none !important;
        }
    }
}

.installation-height1 {
    max-height: unset;
}

.installation-height {
    height: auto;
    max-height: unset;
}

.facade-height {
    height: 80vh;
    max-height: unset;
    padding-bottom: 50px;
}

.facade-installation {
    max-height: 1080px;
    padding-bottom: 0;

    .installation__left {
        justify-content: space-around;

        & > :nth-child(n + 3) {
            div {
                top: unset;

                @media (max-width: 800px) {
                    bottom: 105%;
                }
                img {
                    top: -105%;
                    transform: translate(0, -100%);
                    bottom: unset;
                    border-radius: 30px 30px 0px 0px;
                }
            }
        }

        li {
            cursor: pointer;

            &._active {
                @include adaptive-value("padding-top", 80, 30, 1);
                @include adaptive-value("padding-bottom", 80, 30, 1);

                background: #525850;

                p,
                .whatsapp {
                    opacity: 1;
                    visibility: visible;
                }

                div {
                    img {
                        display: block;
                    }
                }
            }

            div {
                @media (max-width: 800px) {
                    position: absolute;
                    right: 0;
                    top: 105%;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: flex-start;
                    height: fit-content;

                    &:after {
                        background: #7d837b;
                    }
                }

                img {
                    border-radius: 0px 0px 30px 30px;
                    position: absolute;
                    left: 0;
                    display: none;

                    top: 205%;

                    bottom: unset;

                    @media (max-width: 800px) {
                        position: relative;
                        transform: translate(0, 0) !important;
                        right: 40px;
                        left: 0;
                        top: 200%;
                    }
                }
            }
        }
    }
}

.production {
    @include adaptive-value("padding-left", 40, 20, 1);
    @include adaptive-value("padding-right", 40, 20, 1);
    max-height: 1080px;
    position: relative;
    // .production__top

    &__top {
        h2 {
            margin-bottom: 10px;
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 48, 28, 1);
            line-height: 130%;
            color: #131313;
        }

        p {
            max-width: 1220px;
            width: 100%;
            margin-bottom: 35px;
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 16, 12, 1);
            line-height: 130%;
            color: #131313;

            @media (max-width: 1550px) {
                @include adaptive-value("margin-bottom", 130, 116, 1);
                max-width: 75%;
            }
            @media (max-width: 992px) {
                max-width: 100%;
            }
        }
    }

    // .production__play

    &__play {
        position: absolute;
        z-index: 3;
        right: 40px;
        top: 0;
        transform: translate(0, -50%);
        mix-blend-mode: difference;

        @include adaptive-value("width", 290, 116, 1);
        @include adaptive-value("height", 290, 116, 1);
        background-image: url("@img/svg/play.svg");
        background-size: contain;
        background-repeat: no-repeat;

        @media (max-width: 600px) {
            right: 50%;
            transform: translate(50%, -50%);
        }
    }

    // .production__bottom

    &__bottom {
        position: relative;

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.56);
            backdrop-filter: blur(14px);
            border-radius: 30px 30px 0px 0px;
        }

        img {
            object-fit: cover;
            width: 100%;
            @include adaptive-value("height", 580, 763, 1);
            border-radius: 30px 30px 0px 0px;

            @media (max-width: 768px) {
                height: 317px !important;
                width: 100%;
            }
        }
    }
}

.portfolio {
    height: 90vh;
    max-height: 1080px;
    @include adaptive-value("padding-left", 40, 20, 1);
    @include adaptive-value("padding-right", 40, 20, 1);
    background: #525850;
    border-radius: 30px 30px 0px 0px;

    h2 {
        pointer-events: none;
        width: 100%;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        opacity: 0.1;
        position: absolute;
        // bottom: 170px;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0);

        @media (min-width: 993px) {
            @include adaptive-value("font-size", 252, 20, 1);
        }

        @media (max-width: 992px) {
            bottom: 0;
            writing-mode: vertical-rl;
            left: 0;
            top: 0;
            transform: scale(-1);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
            font-size: 122px;
            @include adaptive-value("font-size", 122, 80, 1);
        }

        @media (max-width: 340px) {
            font-size: 68px !important;
        }
    }

    // .portfolio__images

    &__images {
        position: relative;
        top: 300px;
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width: 1470px) {
            max-width: 80vw;
        }

        @media (max-width: 992px) {
            top: 20%;
        }

        & > :nth-child(1) {
            @include adaptive-value("top", 0, -100, 1);
            left: 0;
            transform: rotate(-45deg);

            @media (max-width: 992px) {
                transform: rotate(-20deg);
            }
        }

        & > :nth-child(2) {
            left: 16%;
            transform: rotate(-20deg);
            z-index: 2;

            @media (min-width: 993px) {
                @include adaptive-value("top", -232, -100, 1);
            }

            @media (max-width: 992px) {
                top: 30vh;
                left: 0;
            }
        }

        & > :nth-child(3) {
            left: 50%;
            transform: translate(-50%, 0);

            @media (min-width: 993px) {
                @include adaptive-value("top", -180, -80, 1);
            }

            @media (max-width: 992px) {
                top: 60px;
            }
        }

        & > :nth-child(4) {
            right: 16%;
            transform: rotate(20deg);
            z-index: 2;

            @media (min-width: 993px) {
                @include adaptive-value("top", -232, -100, 1);
            }

            @media (max-width: 992px) {
                top: 30vh;
                right: 0;
            }
        }

        & > :nth-child(5) {
            @include adaptive-value("top", 0, -100, 1);
            right: 0;
            transform: rotate(45deg);

            @media (max-width: 992px) {
                transform: rotate(20deg);
            }
        }

        // .portfolio__images-img

        &-img {
            position: absolute;
            transition: all 0.3s ease 0s;
            z-index: 1;

            @include adaptive-value("border-radius", 30, 12, 1);
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            div {
                width: 100%;
                height: 100%;
                position: relative;
            }

            filter: brightness(70%);

            @media (any-hover: hover) {
                &:hover {
                    filter: brightness(100%);

                    z-index: 5;
                    img {
                        transform: scale(1.2);
                    }
                }
            }

            img {
                transition: all 0.5s ease 0s;
                border-radius: 30px 30px 0px 0px;
                @include adaptive-value("width", 275, 109, 1);
                @include adaptive-value("height", 384, 153, 1);

                display: block;
                object-fit: cover;
                pointer-events: none;

                @include adaptive-value("border-radius", 30, 12, 1);
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
            }
        }
    }

    // .portfolio__gallery

    &__gallery {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease 0s;

        &._active {
            opacity: 1;
            pointer-events: all;
        }

        // .portfolio__gallery-body

        &-body {
            width: 100%;
            max-width: 1560px;
            margin-inline: auto;
            position: relative;

            @media (max-width: 1600px) {
                max-width: 90%;
            }
        }

        img {
            pointer-events: none;
            display: block;
            width: 100%;
            height: 100vh;
            max-height: 69vh;

            @include adaptive-value("border-radius", 41, 12, 1);
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            @media (max-width: 800px) {
                min-height: 489px;
            }

            @media (max-width: 375px) and (max-height: 600px) {
                min-height: 300px;
            }
        }

        // .portfolio__gallery-close

        &-close {
            position: absolute;
            right: 30px;
            top: 30px;
            @include adaptive-value("width", 25, 13, 1);
            @include adaptive-value("height", 25, 13, 1);
            background-image: url("@img/svg/close.svg");
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 5;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.contacts {
    @include adaptive-value("padding-left", 40, 20, 1);
    @include adaptive-value("padding-right", 40, 20, 1);
    // .contacts__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include adaptive-value("margin-bottom", 19, 22, 1);
        @include adaptive-value("padding-left", 150, 0, 1);
        @include adaptive-value("padding-right", 150, 0, 1);

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;

            & > :nth-child(2) {
                margin-bottom: 5px;
            }
        }

        & > :nth-child(3) {
            margin-left: 153px;
            @media (max-width: 768px) {
                margin: 0;
            }
        }

        h2 {
            flex: 1 1 100%;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            @include adaptive-value("font-size", 48, 28, 1);
            line-height: 1.2;

            color: #ffffff;

            @media (max-width: 768px) {
                margin-bottom: 21px;
            }
        }

        a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #ffffff;
            white-space: nowrap;
        }
    }

    // .contacts__geo

    &__geo {
        border-radius: 50px 50px 0px 0px;

        iframe {
            @include adaptive-value("border-radius", 50, 20, 1);
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            width: 100%;
            @include adaptive-value("height", 770, 400, 1);
        }
    }
}
